
# Count / frequency encodingÂ¶

High Cardinality


Another way to refer to variables that have a multitude of categories, is to call them variables with high cardinality.

If we have categorical variables containing many multiple labels or high cardinality,then by using one hot encoding, we will expand the feature space dramatically.

One approach that is heavily used in Kaggle competitions, is to replace each label of the categorical variable by the count, this is the amount of times each label appears in the dataset. Or the frequency, this is the percentage of observations within that category. The 2 are equivalent.

Let's see how this works:

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Mercedes-Benz.csv', usecols=['X1', 'X2'])

In [5]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

# Finding the unique values from the column

In [19]:
for col in df.columns:
    print(col,  ' : ' , len(df[col].unique()))

X1  :  27
X2  :  44

In [21]:
for col in df.columns:
    print(col,  ' : ' , list(df[col].unique()))

X1  :  ['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z', 'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q', 'ab']
X2  :  ['at', 'av', 'n', 'e', 'as', 'aq', 'r', 'ai', 'ak', 'm', 'a', 'k', 'ae', 's', 'f', 'd', 'ag', 'ay', 'ac', 'ap', 'g', 'i', 'aw', 'y', 'b', 'ao', 'al', 'h', 'x', 'au', 't', 'an', 'z', 'ah', 'p', 'am', 'j', 'q', 'af', 'l', 'aa', 'c', 'o', 'ar']

In [ ]:
# let's obtain the counts for each one of the labels in variable X2
# let's capture this in a dictionary that we can use to re-map the labels

In [32]:
df_frequency_map = df.X2.value_counts().to_dict()

In [33]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [34]:
# mapping frequency to table

df['X2']= df.X2.map(df_frequency_map)

In [35]:
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

as we can see we have mapped the count to the X2 column similarly we can do the same to X1 Col

# Advantages
-It is very simple to implement.
-Does not increase the feature dimensional space

Disadvantages
-If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.
-Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive powe